@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Asta+Sans:wght@300..800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none !important;
  -moz-user-select: -moz-none !important;
  user-select: none !important;
}

.span-1 {
  width: 4.1666666667dvw;
}

.span-2 {
  width: 8.3333333333dvw;
}

.span-3 {
  width: 12.5dvw;
}

.span-4 {
  width: 16.6666666667dvw;
}

.span-5 {
  width: 20.8333333333dvw;
}

.span-6 {
  width: 25dvw;
}

body {
  background-image: linear-gradient(to left, rgba(174, 174, 174, 0.5) 0.0469rem, transparent 0.0469rem);
  background-size: 4.1666666667dvw 100%;
  background-position: center top;
  background-repeat: repeat;
  font-family: "Asta Sans", sans-serif;
}

nav {
  position: fixed;
  bottom: 0rem;
  width: 100%;
  height: 5rem;
  display: flex;
  box-shadow: 0 -0.25rem 0.625rem rgba(0, 0, 0, 0.1);
}
nav a {
  width: 25dvw;
  text-align: center;
  align-content: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
}

.buttons {
  display: flex;
  align-items: center;
}
.buttons button {
  width: 2rem;
  height: 100%;
  border: none;
  cursor: pointer;
}
.buttons #lightMode {
  background-color: #fff;
}
.buttons #darkMode {
  background-color: #000;
}
.buttons #redMode {
  background-color: #ff0000;
}

.theme-light {
  background-color: #fff;
  color: #000;
}
.theme-light nav {
  background-color: rgb(191, 191, 191);
}
.theme-light nav a {
  color: #000;
}
.theme-light nav a:hover {
  background-color: rgb(0, 0, 0);
  color: #fff;
  transition: all 0.5s linear;
}

.theme-dark {
  background-color: #000;
  color: rgb(239, 239, 239);
}
.theme-dark nav {
  background-color: rgb(217, 217, 217);
}
.theme-dark nav a {
  color: #000;
}
.theme-dark nav a:hover {
  background-color: rgb(69, 69, 69);
  color: rgb(239, 239, 239);
  transition: all 0.5s linear;
}

.theme-red {
  background-color: #fff;
  color: #000;
}
.theme-red nav {
  background-color: rgb(191, 191, 191);
}
.theme-red nav a {
  color: #000;
}
.theme-red nav a:hover {
  background-color: rgb(0, 0, 0);
  color: #fff;
  transition: all 0.5s linear;
}

.c-info {
  width: 100dvw;
  margin-top: 2.5rem;
  padding-inline: 4.1666666667dvw;
}
.c-info .txt {
  text-align: center;
}
.c-info .c-contact {
  position: relative;
  z-index: -1;
  color: white;
  mix-blend-mode: difference;
}
.c-info .c-contact .arrow {
  font-size: 2vw;
  font-weight: 600;
  padding-block: 2.5rem;
  animation: bounceArrow 1s ease-in-out infinite;
  transition: 0.5s;
}
.c-info .c-contact p {
  font-size: 2vw;
}

@keyframes bounceArrow {
  0%, 100% {
    transform: translateY(0); /* 시작/끝 위치 */
  }
  50% {
    transform: translateY(10px); /* 아래로 이동 */
  }
}
.btm-container {
  position: fixed;
  left: 0;
  bottom: 5rem;
  z-index: -2;
  width: 100%;
  display: flex;
  justify-content: center;
}
.btm-container p {
  position: relative;
  bottom: -4.1666666667dvw;
  padding: 0.5rem 0;
  z-index: -2;
  font-size: 13.5dvw;
  font-weight: 600;
}
.btm-container img {
  position: absolute;
  width: 40dvw;
  right: 4.1666666667dvw;
  bottom: 0px;
  z-index: -3;
}